# OS Files
.DS_Store
Thumbs.db

# Editor directories and files
.idea
.vscode
*.swp
*.swo
*~

# Logs
logs
*.log

# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Temporary files
*.tmp
tmp/
temp/

# Build outputs
dist/
build/

# Cache
.cache/
*.cache